.gif-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 gifs per row */
  gap: 0.5rem;
  width: 100%;
}

.gif-results img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  background: #111;
  transition: box-shadow 0.2s;
}

.gif-results img:hover {
  box-shadow: 0 0 0 2px #0355ba;
}